<form action="" method="post">
    {{ form.name }}
    <button type="button" id="addNewItemButton">Add Field</button>
    {{ form.flist }}
    {{ form.submit }}
    </form>

<script>
var fieldNum = 0;
$("#addNewItemButton").click(function() {
var newInput = $("<textarea></textarea></br>")
.attr("class", "form-control")
.attr("id", "flist-" + fieldNum)
.attr("name", "flist-" + fieldNum)
.attr("rows", "3")
$("#myDiv").append(newInput);
fieldNum++;
});
    </script>
